.project {
    width: 100%;
    background: #f7f7f7;
    text-align: center;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

    .project img {
        width: 100%;
        height: 100%;
        background: lightgrey;
        border-radius: .25rem .25rem 0 0;
    }

    .project-info {
        background: white;
        padding: 2rem;
        border-radius: 0 0 .25rem .25rem;
    }

    .project-info .inline {
        gap: 10px;
        justify-content: center;
        margin-top: 1rem;
    }

    .project button {
        line-height: 1rem;
        padding: .5rem;
    }