.sticky-wrapper {
    position: sticky;
    top: 0rem;
    z-index: 4;
    background: #1c1c1c;
    transition: background-color .25s;
}

    .sticky-wrapper * {
        color: white;
    }

    .sticky-wrapper-light {
        position: sticky;
        top: 0rem;
        z-index: 4;
        background: white;
        transition: background-color .25s;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    } 

    .sticky-wrapper-light * {
        color: black;
    }

nav {
    display: inline-flex;
    align-items: center;
    padding: 1rem 3rem;
    width: 100%;
}

.brand {
    font-weight: bolder;
    font-size: 1.1rem;
}

.mobile-icon {
    display: none;
}

.nav-links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    font-size: .85rem;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links li:hover {
    opacity: 75%;
}

.nav-links button {
    border: none;
    background: none;
}

ul.nav-links li:first-of-type {
    display: none;
}


@media screen and (max-width: 645px) {

    nav {
        flex-direction: column;
        padding: 0;
    }

    .mobile-navbar {
        width: 100%;
        display: flex;
        align-items: center;   
    }

    .brand {
        font-size: 2.25rem;
        margin: .5rem 0;
    }

    .mobile-icon {
        display: block;
        margin-left: auto;
    }

    .mobile-icon button {
        background: none;
        border: none;
        font-size: 2rem;
    }

    ul.nav-links {
        display: none;
        flex-direction: column;
        gap: 0px;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: #1c1c1c;
    }

    ul.nav-links li {
        text-align: center;
        margin: 0;
    }

    ul.nav-links button {
        margin: .5rem 0;
        font-size: 2rem;
        color: white;
    }

    ul.nav-links li:first-of-type {
        display: block;
    }
}