@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


/* BASIC RESET */

*, *::before, *::after {
  box-sizing: border-box; 
}

* {
  margin: 0; 
}

html, body {
  height: 100%; 
  font-family: Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}


/* TEXT STYLING */

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 128px;
  line-height: 125px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  line-height: 50px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

a:link { color: #000 }
a:hover { color: #000 }
a:active { color: #000 } 
a:visited { color: #000 } 
a:focus { color: #000 } 

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.grey {
  color: grey; 
}

.light {
  color: #778b9d;
}

/* ELEMENT STYLING */

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

button {
  font-size: .9rem;
  border-radius: .5rem;
  padding: .25rem .75rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

  button.white {
    background: white;
    color: black;
    border: solid 2px white;
  }

    button.white:hover {
      background: black;
      color: white;
    }

    button.white-transparent {
      background: none;
      border: 2px solid white;
      color: white;
    }

    button.white-transparent:hover {
      background: white;
      color: black;
    }

  button.black {
    background: black;
    color: white;
    border: 2px solid black;
  }

    button.black:hover {
      background: white;
      color: black;
    }

    button.black-transparent {
      background: none;
      color: black;
      border: 2px solid black;
    }

    button.black-transparent:hover {
      background: black;
      color: white;
    }




/* CUSTOM STYLING */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

  .section-header {
    flex: 1;
  }

  .section-content {
    flex: 3;
  }

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* RESPONSIVE DESIGN */

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .section-header {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
  }

  .purple-bar {
    margin: .75rem auto 0 auto;
  }
}

