
.hero {
    height: 100vh;
    width: 100%;
    margin-top: -60px;
    background: #1C1C1C;
    background-color: #1c1c1c;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

    .hero h1 {
        height: 100%;
        width: 100%;
        max-width: 20rem;
        position: absolute;
        right: 65%;
        display: flex;
        align-items: center;
        text-align: right;
    }

    .hero-image {
        position: absolute;
        width: 70vh;
        filter: drop-shadow(0 -.5rem 0.5rem rgba(22, 22, 22, 0.5));
    }

    .hero-info {
        position: absolute;
        left: 65%;
        bottom: 3rem;
        text-shadow: 0px 0px 5px rgba(21, 21, 21, .35);
    }

    .hero-info h3 {
        max-width: 200px;
        line-height: 30px;

    }

    .hero-buttons {
        display: flex;
        margin-top: .75rem;
        column-gap: .75rem;
    }

    .hero p {
        margin-top: -.35rem;
    }

.about .container, 
.work .container, 
.contact .container {
    padding: 6rem 0;
    max-width: 1200px;
}

        .purple-bar {
            width: 1.5rem;
            height: .25rem;
            margin-top: .5rem;
            border-radius: .5rem;
            background:#BD1DCB;
        }

        .intro {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-bottom: 3rem;
        }

        .tech-stack {
            border-top: solid 1px #D2D2D2;
            border-bottom: solid 1px #D2D2D2;
            padding: 3rem 0;
        }

        .tech-stack h4 {
            text-align: center;
            margin-bottom: 2rem;
        }

        ul.skills {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 25px;
            justify-content: center;
            margin: 0 auto;
        }

        li.skill-item {
            text-align: center;
        }

        .icon {
            font-size: 50px;
            margin: 0 auto .25rem auto;
        }

        .awards {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin: 3rem 0 0 0;
            justify-content: space-between;
        }

        .award-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .award-top {
            width: 0;
            border-radius: 5px;
            border-bottom: 50px solid #f3f3f3;
            border-left: 88px solid transparent;
            border-right: 88px solid transparent;
            margin-bottom: -1px;
        }

        .award-mid {
            width: 175px;
            text-align: center;
            padding: .5rem 1.5rem;
            font-size: 20px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            line-height: 110%;
            background: #f3f3f3;
            border-radius: 5px;
        }

        .award-bottom {
            width: 0;
            margin-top: -1px;
            border-radius: 5px;
            border-top: 50px solid #f3f3f3;
            border-left: 88px solid transparent;
            border-right: 88px solid transparent;
        }

        .award-mid .purple-bar {
            margin: .75rem auto 0 auto;
        }

.work {
    background: #f7f7f7;
}

    .project-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        width: 100%;
    }

.contact .section-content {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

    .contact .section-content p {
        flex: 1.5;
    }

    .contact .section-content ul {
        flex: 1;
    }

    .contact-methods {
        display: flex;
        flex-direction: column;
    }

    .contact-methods > li {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
        margin: 0 auto;
    }

    .contact-methods li a {
        color: #1c1c1c !important;
    }

    .contact-methods li a button{
        color: #1c1c1c !important;
    }

    .contact-methods li a button p{
        color: #1c1c1c !important;
    }

    .contact-icon {
        color: #BD1DCB;
    }

    .contact-methods button {
        font-size: 1.15rem;
        border: none;
        padding: none;
        background: none;
    }

    .contact-methods button:hover {
        opacity: 50%;
    }
    





/* responsive css */

@media screen and (max-width: 1025px) {
    h1, h2, h3, h4, p {
        text-align: center;
    }
    
    .hero {
        align-items: flex-end;
    }

    .hero h1 {
        font-size: 20vw;
        line-height: 16vw;
        max-width: 100%;
        right: initial;
        text-align: center;
        top: -10vh;
    }

    .hero-image {
        max-width: 70%;
    }

    .hero-info {
        right: auto;
        left: auto;
    }

    .hero-info h3 {
        text-align: center;
    }

    .hero-buttons {
        justify-content: center;
    }

    .project-list {
        grid-template-columns: repeat(2,1fr);
    }

    .contact .section-content {
        flex-direction: column;
    }

    .contact-methods {
        flex-direction: row;
        justify-content: space-around;
    }

    .contact-methods li {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {

    .hero h1 {
        top: -20vh;
    }

    .hero-image {
        max-width: 80%;
    }
}

@media screen and (max-width: 645px) {
    
    .hero {
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        background-image: url("../../assets/me.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 70vh;
    }

        .hero h1 {
            position: static;
            height: fit-content;
            font-size: 15vw;
            max-width: 100%;
            line-height: 13vw;
            justify-content: center;
            z-index: 1;
        }
        

        .hero-image {
            display: none;
        }

        
        .hero-info {
            position: static;
            width: 100%;
            z-index: 1;
            margin-bottom: 10vh
        }

        .hero-info h3 {
            max-width: 100%;
            font-size: 5vw;
        }

        ul.skills {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        .awards {
            flex-direction: column;
            gap: 2rem;
        }

        .awards * {
            margin: 0 auto;
        }

        .project-list {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }

        .contact-methods {
            flex-direction: column;
        }
}