.hero {
    height: 100vh;
    width: 100%;
    margin-top: -60px;
    background: #1C1C1C;
    color: white;
}

    .hero .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        align-self: end;
        height: 100vh;
    }

    .hero h1 {
        height: 100%;
        width: 100%;
        max-width: 20rem;
        position: absolute;
        left: 0px;
        display: flex;
        align-items: center;
        text-align: right;
    }

    .hero-image {
        position: absolute;
        width: 70vh;
        filter: drop-shadow(0 -.5rem 0.5rem rgba(22, 22, 22, 0.5));
    }

    .hero-info {
        background: rgb(28, 28, 28, .75);
        width: 15rem;
        position: absolute;
        right: 3vw;
        bottom: 1rem;
        box-sizing: content-box;
        padding:1.5rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        border-radius: .5rem;
    }

    .hero-buttons {
        display: flex;
        margin-top: 1rem;
        column-gap: 10px;
    }

    p.grey:first-of-type {
        font-weight: bold;
    }

    .hero h4 {
        margin: .25rem 0 .5rem 0;
    }

.about {
    margin: 5rem 0 7rem 0;
}

    .about-me {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }

    .about-me h3 {
        line-height: 2.5rem;
    }

    .about-me p {
        margin-top: 1rem;
    }


    .exp-banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 2.5rem 0 3.5rem 0;
    }

        .grey-box {
            flex-grow: 3;
            height: 60px;
            width: 100%;
            background: #f7f7f7;
        }

        .exp-item {
            padding: 1rem;
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            justify-content: center;
            gap: 5px;
            min-width: 200px;
        }

        .exp-info {
            display: flex;
            flex-direction: column;
        }

        .exp-item p:first-of-type {
            font-size: 20px;
            line-height: 1.30rem;
            margin-top: 10px;
        }

        .exp-item p.light {
            font-size: 14px;
            width: 100%;
        }

    .tech-stack h4 {
        text-align: center;
        margin-bottom: 1rem;
    }

        .knowledge {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
        }

        .knowledge ul {
            max-width: 400px;
            width: 75%;
        }

        .knowledge ul:first-child {
            justify-self: end;
        }

.work {
    background: #f7f7f7;
    padding: 7rem 0;
    text-align: center;
}

    .work h3 {
        margin-bottom: 2rem;
    }

    .project-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        width: 100%;
    }

.contact {
    margin: 7rem 0;
}

    .contact .container {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .contact .container img {
        width: 40%;
        height: auto;
    }

    .contact-info {
        width: 60%;
    }

    .contact-info p {
        margin: 1.5rem 0;
        max-width: 525px;
    }

    .contact-methods {
        display: inline-flex;
        gap: 25px;
    }

    .contact-methods > li {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 1rem;
    }

    .purple {
        color: #BD1DCB;
        font-size: 1.5rem;
    }

    .contact-methods button {
        border: none;
        background: none;
    }

    .contact-methods button:hover {
        opacity: 50%;
    }


    


/* responsive css */

@media screen and (max-width: 1000px) {

    .hero h1 {
        font-size: 20vw;
        line-height: 17vw;
        max-width: 100%;
        height: 50%;
        text-align: center;
        top: 3rem;
    }

    .hero-image {
        margin: 0 auto;
    }

    .hero-info {
        height: 13rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 85vh;
        background: #1c1c1c;
        text-align: center;
    }

    .hero-buttons {
        justify-content: center;
    }

    .about-me {
        margin-top: 12rem;
    }

    .knowledge ul {
        margin: 0 auto;
    }

    .project-list {
        grid-template-columns: repeat(2,1fr);
    }

    .contact .container {
        flex-direction: column;
    }

    .contact-info {
        width: 100%;
        text-align: center;
    }

    .contact-info p {
        margin: 1.5rem auto;
    }

    .contact .container img {
        display: none;
    }
}



@media screen and (max-width: 645px) {

    .hero {
        height: 100%;
        padding: 2rem 0;
    }

    .hero .container {
        flex-direction: column;
        row-gap: 1rem;
        height: 100%;
    }

        .hero h1 {
            display: block;
            position: static;
            margin-top: 6rem;
            height: 140px;
            align-items: end;
        }

        .hero-image {
            position: static;
            top: 0;
            box-sizing: content-box;
            border-radius: 100%;
        }

        .hero-info {
            height: 100%;
            width: 80%;
            margin: 0 auto;
            position: static;
        }

        .hero-buttons {
            flex-direction: column;
            row-gap: 10px;
        }

        .hero-buttons button {
            font-size: 1.25em;
            width: 100%;
        }

    .about-me {
        margin-top: 0rem;
    }

    .knowledge {
        grid-template-columns: 1fr;
    }

    .knowledge ul {
        width: 100%;
    }

    .knowledge ul:first-child {
        justify-self: start;
    }
}

@media screen and (max-width: 600px) {

    .project-list {
        grid-template-columns: 1fr;
    }
    
    .contact-methods {
        display: flex;
        flex-direction: column;
        width: 15rem;
        margin: 0 auto;
        gap: 0;
    }

    .contact-methods li {
        margin-left: 2rem;
    }

    .contact-methods button {
        font-size: 1.15rem;
    }
}